{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}
 <h1>Liste des 10 premiers questions </h1>
    <ul>
        {% for question in question %}
            <li>{{ question.question }}</li>
        {% endfor %}
    </ul>

{% endblock %}
