@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap'); /* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

//Variables
$dark-bg: #222222;
$btn-blue: #07a6ff;
$qpub-green: #54df25;
$linear-blue: #0066ff;
$linear-green: #FFC107;
$linear-red: #ff0000;
$linear-purple: #7d2be9;
$base-font: 'Raleway', sans-serif;
$base-font-size: 16px;