@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap'); /* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

//Variables
$dark-bg: #222222;
$btn-blue: #07a6ff;
$qpub-green: #54df25;
$linear-blue: linear-gradient(90deg, #1B8DDF 0%, #4D3EFF 100%);
$linear-green: linear-gradient(90deg, #3CEB00 0%, #2F8512 100%);
$linear-yellow: linear-gradient(90deg, #E7DC00 0%, #FE8100 100%);
$linear-purple: linear-gradient(90deg, #B845FF 0%, #952bff 100%);
$base-font: 'Raleway', sans-serif;
$base-font-size: 16px;