@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap'); /* color palette from <https://github.com/vuejs/theme> */

//Variables
$dark-bg: #222222;
$btn-blue: #07a6ff;
$base-font: 'Raleway', sans-serif;